// Fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');


// Colors
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desaturated-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Typography
$body-font: 'Manrope', sans-serif;
$body-font-size: 13px;
$fw-semibold: 500;
$fw-bold: 700;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: $light-grayish-blue;
    font-family: $body-font;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    max-width: 335px;
    background-color: white;
    box-shadow: 0px 40px 40px -10px rgba(201, 213, 225, 0.503415);
    border-top-right-radius: 0.7em;
    border-top-left-radius: 0.7em;
    border-bottom-right-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    overflow: hidden;
}

.image-container {
    background: url(/images/drawers.jpg);
    width: 100%;
    background-size: cover;
    height: 14.2em;
}


.content {
    background-color: white;
    padding: 2em 2em 1em 2em;

    .heading-text {
        font-size: 1.07rem;
        color: $very-dark-grayish-blue;
        padding-bottom: 0.6em;
        line-height: 1.5em;
    }

    .paragraph {
        font-size: 0.85rem;
        color: $desaturated-dark-blue;
        line-height: 1.6em;
        text-align: left;
        width: 19.7em;
        padding-bottom: 1em;
    }
}

.article-footer {
    background-color: white;

    display: flex;
    flex-direction: row;
    gap: 1em;
    padding-left: 2.2em;
    padding-bottom: 1.3em;


    .author-image {
        width: 13%;
        border-radius: 50%;
    }

    .author-details {
        display: flex;
        flex-direction: column;
        gap: 0.3em;

        .name {
            font-weight: $fw-bold;
            font-size: 0.85rem;
            color: $very-dark-grayish-blue;
        }

        .date {
            font-size: 0.8rem;
            color: $grayish-blue;
        }
    }

    .share-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 2em;
        height: 2em;
        background-color: $light-grayish-blue;
        margin-left: 2.8em;
        border-radius: 50%;
        padding: 0.7em;
    }
}

.share-popup {
    display: none;
}