// Fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

// Colors
$violet:hsl(257, 40%, 49%);
$soft-magenta: hsl(300, 69%, 71%);


// Typography
$heading-font: 'Poppins', sans-serif;
$body-font: 'Open Sans', sans-serif;


* {
    margin: 0;
    padding: 0;
}

body {
    background: url(/images/bg-mobile.svg) top -1em left 0 no-repeat;
    background-size: 100%;
    background-color: $violet;
}

a {
    text-decoration: none;
}

.container {
    width: 100vw;
    height: 100vh;
}


.logo {
    display: flex;
    padding: 2em;

    .huddle-logo {
        width: 30%;
        max-width: 200px;
        padding-left: 0.5em;
    }
}



.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3em;
    text-align: center;
    color: white;

    .hero-image {
        max-width: 80%;
        padding-bottom: 5em;
    }

    .hero-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .heading {
            font-family: $heading-font;
            width: 13em;
            font-weight: 600;
            font-size: 1.5rem;
            padding-bottom: 0.5em;
        }

        .body-text {
            font-family: $body-font;
            line-height: 1.5em;
            width: 19em;
            padding-bottom: 1.5em;
        }


        .button {
            background-color: white;
            border-radius: 10em;
            padding: 0.7em;
            width: 13em;
            color: $violet;
            font-family: $heading-font;
            box-shadow: 5px 6px 8px hsl(257, 49%, 41%);
            text-align: center;

    
            &:hover {
                background-color: $soft-magenta;
                color: white;
    
            } 
        }
    }
}


.social-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2em;
    color: white;
    gap: 1em;
  
    

    .fa-facebook-f, .fa-twitter, .fa-instagram {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 50%;
        padding: 0.5em;
        width: 20px;
        height: 20px;
        color: white;

        &:hover {
            color:$soft-magenta;
            border: 1px solid $soft-magenta;
        }
    }
}


// For Tablets
@media screen and (min-width: 600px) {
    
    .hero {
        
        .hero-text-container {

            .heading {
                width: 25em;
                
            }
            
            .body-text {
                width: 30em;
            }

            .button {
                width: 10em;
            }
        }
        
    }

}

// For Desktop
@media screen and (min-width: 1200px){

    body {
        background: url(/images/bg-desktop.svg) top -2em left -2em no-repeat;
        background-color: $violet;
    }


    .container {
        width: 100vw;
        height: 100vh;
    }
    .logo {
        margin-left: 2.5em;

    }

    .hero {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;

        .hero-image {
            //fix max width
            max-width: 50%;
            margin-left: 5em;
        }

        .hero-text-container {
            display: flex;
            flex-direction: column;
            justify-content:center;
            text-align: left;
            align-items: center;
            padding-left: 3em;
            padding-top: 3em;

    
    
            .heading {
                font-size: 2rem;
                width: 13em;
                margin-left: -1.5em;
            }
    
            .body-text {
                font-size: 1em;
                width: 29em;
            }
    
            .button {
                width: 10em;
                margin-left: -17.5em;

            }
        }
    }

    .social-icons {
        justify-content: flex-end;
        padding-right: 5em;
        margin-top: -7em;
    }
}
