@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(204deg, 43%, 93%);
  font-family: "Karla";
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .card-container {
  background-color: white;
  width: 18em;
  height: 40em;
  border-radius: 5px;
}
.wrapper .card-container .top {
  height: 14em;
}
.wrapper .card-container .top .heading {
  color: hsl(179deg, 62%, 43%);
  font-size: 1.1rem;
  padding: 1.5em 1em;
}
.wrapper .card-container .top .subheading {
  color: hsl(71deg, 73%, 54%);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0 1.3em;
}
.wrapper .card-container .top .paragraph {
  color: hsl(218deg, 22%, 67%);
  font-size: 0.8rem;
  padding: 1em 1.5em;
  line-height: 1.7em;
  width: 19em;
}
.wrapper .card-container .right {
  background-color: hsl(179deg, 62%, 43%);
  height: 10.5em;
  margin: 0;
  padding: 0;
  color: white;
  padding: 1.5em 1.2em;
}
.wrapper .card-container .right .monthly-subscription {
  font-size: 1rem;
  font-weight: 700;
  padding-bottom: 1em;
}
.wrapper .card-container .right .price {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.wrapper .card-container .right .price .dollar {
  font-size: 1.8rem;
}
.wrapper .card-container .right .price .month {
  font-size: 0.9rem;
  color: #58cbca;
}
.wrapper .card-container .right .description {
  font-size: 0.9rem;
  padding-top: 0.7em;
}
.wrapper .card-container .right .button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
}
.wrapper .card-container .right .button-container .button {
  width: 15em;
  height: 2.5em;
  border-radius: 3px;
  background-color: hsl(71deg, 73%, 54%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.wrapper .card-container .right .button-container .button:hover {
  background-color: #58cbca;
}
.wrapper .card-container .right .button-container .button .btn {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
}
.wrapper .card-container .left {
  background-color: #58cbca;
  height: 12em;
  margin: 0;
  padding-bottom: 1em;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.wrapper .card-container .left .heading-left {
  color: white;
  padding: 1.5em 1.5em 0 1.5em;
  font-weight: 700;
}
.wrapper .card-container .left ul {
  list-style: none;
  color: white;
  font-size: 0.8rem;
  padding-left: 2em;
  margin: 0;
  padding-top: 1em;
  line-height: 1.5em;
}
.wrapper footer {
  padding-top: 0.7em;
  color: gray;
}
.wrapper footer a {
  color: hsl(179deg, 62%, 43%);
}
.wrapper footer a:hover {
  color: hsl(71deg, 73%, 54%);
}

@media only screen and (min-width: 800px) {
  .wrapper .card-container {
    width: 40em;
    height: 30em;
    display: grid;
    grid-template-areas: "header header" "left-section right-section";
    border-radius: 10px;
  }
  .wrapper .card-container .top {
    grid-area: header;
  }
  .wrapper .card-container .top .heading {
    font-size: 1.5rem;
    padding-left: 1.7em;
    padding-bottom: 0.8em;
  }
  .wrapper .card-container .top .subheading {
    font-size: 1.1rem;
    padding-left: 2.3em;
    padding-top: 0;
  }
  .wrapper .card-container .top .paragraph {
    font-size: 1rem;
    width: 33em;
    padding-left: 2.6em;
  }
  .wrapper .card-container .left {
    grid-area: right-section;
    height: 16em;
    width: 19.6em;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 0;
  }
  .wrapper .card-container .left .heading-left {
    padding: 2.3em 2em 0 2em;
    font-size: 1.1rem;
  }
  .wrapper .card-container .left ul {
    padding-left: 2.6em;
    padding-top: 1.5em;
    font-size: 0.9rem;
  }
  .wrapper .card-container .right {
    grid-area: left-section;
    height: 14em;
    width: 18em;
    border-bottom-left-radius: 10px;
  }
  .wrapper .card-container .right .monthly-subscription {
    font-size: 1.1rem;
    padding: 1em;
  }
  .wrapper .card-container .right .price {
    padding: 0.1em 0 0 1em;
  }
  .wrapper .card-container .right .price .dollar {
    font-size: 2.3rem;
  }
  .wrapper .card-container .right .price .month {
    font-size: 0.9rem;
  }
  .wrapper .card-container .right .description {
    font-size: 1rem;
    padding: 0.3em 0 0 1em;
  }
  .wrapper .card-container .right .button-container .button {
    width: 14em;
    height: 3em;
  }
  .wrapper .card-container .right .button-container .button .btn {
    font-size: 1rem;
  }
  .wrapper footer {
    padding-top: 2em;
  }
}/*# sourceMappingURL=main.css.map */