
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Outfit:wght@300;400;600&display=swap');


// Colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);
$main-bg: hsl(217, 54%, 11%);
$card-bg: hsl(216, 50%, 16%);
$line-color: hsl(215, 32%, 27%);

// Typography
$body-font-size: 18px;
$body-fw1: 300;
$body-fw2: 400;
$body-fw3: 600;


body {
    background-color: $main-bg;
    font-family: 'Outfit', sans-serif;
}

.wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .preview-card {
        background-color: $card-bg;
        width: 290px;
        height: 470px;
        display: flex;
        flex-direction: column;
        border-radius: 10px;

        .img-container {
            position: relative;
            width: 100%;
            

            .card-img {
                display: block;
                width: 100%;
                width: 250px;
                padding: 0;
                padding: 20px;
                border-radius: 25px;
                align-self: center;

                &:hover {
                    cursor: pointer;
                    
                }
            }

            // fade in overlay icon
            .overlay {
                position: absolute;
                top: 0;
                left: 0%;
                opacity: 0;
                transition: .3s ease;
                height: 100%;
                width: 100%;
                background-color: hsla(178, 100%, 50%, 0.5);
                border-radius: 10px;
                
               
                .image-icon {
                    position: absolute;
                    top:50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                }
            }
        }

        .img-container:hover .overlay {
            opacity: 1;
            cursor: pointer;
        }

        .title {
            color: white;
            font-weight: 400;
            padding-left: 25px;
            padding-top: 0;
            margin: 0;
            text-decoration: none;

            &:hover {
                color: $cyan;
                cursor: pointer;
            }
        }

        .description {
            color: $soft-blue;
            font-size: 14px;
            font-weight: 300;
            width: 250px;
            padding-left: 25px;
            padding-bottom: 5px;
        }

        .info {

            display: flex;
            justify-content: space-between;
            padding-bottom: 15px;

            .eth-info {
                display: flex;
                flex-direction: row;
                gap: 5px;
                padding-left: 25px;

                .eth-icon {
                    width: 10px;
                    height: 15px;
                    padding: 0;
                }

                .eth {
                    margin: 0;
                    color: $cyan;
                    font-size: 12px;
                }
            }

            .days {
                display: flex;
                flex-direction: row;
                gap: 5px;
                padding-right: 15px;

                .clock-icon {
                    width: 15px;
                    height: 15px;
                }

                .days-left {
                    margin: 0;
                    padding-right: 10px;
                    color: $soft-blue;
                    font-size: 12px;
                }
            }
        }

        .horizontal-line::after {
            content: "";
            width: 230px;
            display: block;
            border-bottom: 1px solid $line-color;
            margin-left: 25px;
        }

        .creator {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding-left: 25px;
            padding-top: 10px;
            align-items: center;

            .avatar {
                height: 25px;
                border-radius: 20px;
                border: 1px solid white;
                margin: 0;
                padding: 0;
            }

            .name {
                font-size: 12px;
                margin: 0;
                color: $soft-blue;
                padding: 0;

                span {
                    color: white;

                    &:hover {
                        color: $cyan;
                        cursor: pointer;
                    }
                }
            }
        }   
    }

    .attribution {
        text-align: center;
        width: 300px;
        font-size: 12px;
        color: $soft-blue;
        padding-top: 20px;

        a {
            color:white;
            text-decoration: none;

            &:hover {
                color: $cyan;
            }
        }
    }
}

