@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
body {
  background-color: hsl(233deg, 47%, 7%);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .card-container {
  width: 58em;
  height: 23em;
  background-color: hsl(244deg, 38%, 16%);
  display: flex;
  flex-direction: row;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.wrapper .card-container .left {
  width: 50%;
}
.wrapper .card-container .left .heading {
  font-family: "Inter", sans-serif;
  color: white;
  padding-left: 2.2em;
  padding-top: 1.5em;
  font-size: 1.8em;
  width: 12em;
}
.wrapper .card-container .left .main-paragraph {
  color: hsla(0deg, 0%, 100%, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 12px;
  padding-left: 5.3em;
  line-height: 1.7em;
  width: 25em;
}
.wrapper .card-container .left span {
  color: hsl(277deg, 64%, 61%);
}
.wrapper .card-container .left .stats-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 4.1em;
  padding-top: 2em;
  gap: 4.5em;
  padding-bottom: 0;
}
.wrapper .card-container .left .stats-wrapper .companies, .wrapper .card-container .left .stats-wrapper .templates, .wrapper .card-container .left .stats-wrapper .queries {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: white;
  margin: 0;
}
.wrapper .card-container .left .stats-wrapper .bottom {
  display: flex;
  flex-direction: row;
  gap: 4.2em;
  color: hsla(0deg, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.71rem;
  text-transform: uppercase;
  margin-top: -8.5em;
}
.wrapper .card-container .right-header-img {
  width: 50%;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  overflow: hidden;
  background-image: url(/images/image-header-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .card-container .right-header-img .overlay {
  background-color: hsl(277deg, 64%, 61%);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 23em;
  mix-blend-mode: difference;
  opacity: 0.1;
  position: absolute;
  width: 29em;
}
.wrapper .card-container .right-header-img::after {
  background-color: hsl(277deg, 90%, 31%);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  content: "";
  height: 23em;
  opacity: 0.52;
  position: absolute;
  width: 29em;
}

@media only screen and (max-width: 900px) {
  body {
    background-color: lightblue;
  }
  .wrapper .card-container {
    display: flex;
    flex-direction: column;
    width: 15em;
    height: 35em;
    border-radius: 7px;
  }
  .wrapper .card-container .left .heading {
    width: 10em;
    text-align: center;
    font-size: 1.2rem;
    padding-left: 1em;
    padding-top: 10em;
  }
  .wrapper .card-container .right-header-img {
    width: 10%;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    overflow: hidden;
    background-image: url(/images/image-header-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}/*# sourceMappingURL=main.css.map */