@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
body {
  background-color: hsl(233deg, 47%, 7%);
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrapper .card-container {
  background-color: hsl(244deg, 38%, 16%);
  width: 14.5em;
  height: 35em;
  border-radius: 7px;
}
.wrapper .card-container .header-img {
  width: 100%;
  height: 10.5em;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  overflow: hidden;
  background-image: url(/images/image-header-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapper .card-container .header-img .overlay {
  background-color: hsl(277deg, 64%, 61%);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  height: 10.5em;
  mix-blend-mode: difference;
  opacity: 0.1;
  position: absolute;
  width: 14.5em;
}
.wrapper .card-container .header-img::after {
  background-color: hsl(277deg, 90%, 31%);
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  content: "";
  height: 10.5em;
  opacity: 0.52;
  position: absolute;
  width: 14.5em;
}
.wrapper .card-container .content {
  padding-left: 1.2em;
  padding-top: 1.5em;
  width: 12em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}
.wrapper .card-container .content .heading {
  text-align: center;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding-bottom: 0.6em;
}
.wrapper .card-container .content .heading span {
  color: hsl(277deg, 64%, 61%);
}
.wrapper .card-container .content .main-paragraph {
  text-align: center;
  color: hsla(0deg, 0%, 100%, 0.6);
  font-family: "Inter", sans-serif;
  font-size: 0.65rem;
  width: 18em;
  line-height: 1.7em;
  padding-bottom: 1.8em;
  margin: 0;
}
.wrapper .card-container .stats-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 0.6em;
  text-align: center;
  gap: 0.5em;
}
.wrapper .card-container .stats-wrapper p {
  margin: 0.5em;
  padding: 0;
}
.wrapper .card-container .stats-wrapper .companies-number, .wrapper .card-container .stats-wrapper .templates-number, .wrapper .card-container .stats-wrapper .queries-number {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: white;
  margin-left: 0.3em;
}
.wrapper .card-container .stats-wrapper .stats-span {
  font-family: "Lexend Deca", sans-serif;
  font-size: 0.55rem;
  text-transform: uppercase;
  font-weight: 400;
  color: hsla(0deg, 0%, 100%, 0.6);
  padding-top: 2em;
  margin: 0;
  letter-spacing: 0.1em;
}

@media only screen and (min-width: 900px) {
  .wrapper .card-container {
    display: flex;
    flex-direction: row-reverse;
    width: 55em;
    height: 23em;
  }
  .wrapper .card-container .header-img {
    width: 26em;
    height: 23em;
    border-top-left-radius: 0;
    border-bottom-right-radius: 7px;
  }
  .wrapper .card-container .header-img .overlay {
    background-color: hsl(277deg, 64%, 61%);
    width: 26em;
    height: 23em;
    mix-blend-mode: difference;
    opacity: 0.1;
    position: absolute;
    border-top-left-radius: 0;
  }
  .wrapper .card-container .header-img::after {
    background-color: hsl(277deg, 90%, 31%);
    content: "";
    width: 26em;
    height: 23em;
    opacity: 0.52;
    position: absolute;
    border-top-left-radius: 0;
    border-bottom-right-radius: 7px;
  }
  .wrapper .card-container .top-left {
    display: flex;
    flex-direction: column;
    width: 25em;
  }
  .wrapper .card-container .top-left .content {
    padding-top: 3em;
    padding: 0;
    margin: 0;
  }
  .wrapper .card-container .top-left .content .heading {
    font-size: 1.8rem;
    width: 12em;
    text-align: left;
    padding-top: 2em;
  }
  .wrapper .card-container .top-left .content .main-paragraph {
    width: 26em;
    text-align: left;
    padding-left: 0.2em;
    padding-top: 0.5em;
    font-size: 0.75rem;
  }
  .wrapper .card-container .top-left .stats-wrapper {
    display: flex;
    flex-direction: row;
    gap: 3.5em;
    padding-left: -2.5em;
    padding-top: 1em;
  }
  .wrapper .card-container .top-left .stats-wrapper .companies-number {
    margin-left: -1em;
  }
  .wrapper .card-container .top-left .stats-wrapper .templates-number {
    margin-left: -1em;
  }
}/*# sourceMappingURL=main.css.map */